body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #282a36;
}

/* FORMULARIO RELATED*/
#master-container {
  padding: 5px;
  margin: 5px;
  background-color: #282a36;
  color: #e9a931;
}

#puzzle-form{
  padding: auto;
  margin: auto;
}

#exercicio-col{
  color: #e9a931;
  border-right: 1px solid #676c88;
  border-bottom: 1px solid #676c88;
  background-color: #414658;
}

#labelExercicio{
  background-color: #313542;
  border-bottom: 1px solid #676c88;
  border-radius: 0px 0px 30px 30px;
  margin-bottom: 2px;
}
#labelExercicio label{
  margin-left: 5%; 
}

#labelEnunciado{
  margin-bottom: 3px;
}

/* ENUNCIADO RELATED */

#enunciado-col{
  color: #e9a931;
  border-right: 1px solid #676c88;
  border-bottom: 1px solid #676c88;
  background-color: #1a1c23;
}

#enunciado-area { 
  background-color: #1a1c23;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  color: #f0f0f0;
  max-height: fit-content;
}

#enunciadoText {
  display: inline-block;
  margin-top: 20px;
}

.added pre { /* Por enquanto nao usado */
  padding-left: 5px;
}

/* CODE AREA RELATED */

#code-area {
  display: block;
  background-color: #414658;
  border-left: 1px solid #676c88;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #f0f0f0;
}

.code-code-area {
  display: block;
}

/* CODE RELATED BUTTONS */

.buttons-notch {
  background-color: #313542;
  padding: 10px;
  border-bottom: 1px solid #676c88;
  border-radius: 0px 0px 30px 30px;
  margin: 0px 24% 0px 16%;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: large;
  color:#1b0722;
  margin: 0px 10px 0px 10px;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: ease 0.2s;
}

.buttons button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#btnTestYourself {
  background: #b184c2;
}

#btnTestYourself img {
  position: relative;
}

#btnReset {
  color: #dbdbdb;
  background-color: #414658;
  box-shadow: inset 0px 0px 0px 2px #929292;
}

#btnReset:hover {
  box-shadow: inset 0px 0px 0px 2px #f1f1f1;
}


#btnSubmit{
  background: #ff42e6;
  box-shadow: inset 0px 0px 0px 2px #ce1581;

  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: large;
  margin: 0px 10px 0px 10px;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease;

}
#btnSubmit:hover {
  box-shadow: inset 0px 0px 0px 2px #ce15ce;
}



#btnRun {
  background: #dbfa50;
}

#btnTeste{
  background: #50fa7b;
  box-shadow: inset 0px 0px 0px 2px #6ece15;

  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: large;
  margin: 0px 10px 0px 10px;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: ease 0.2s;
}
#btnTeste:hover {
  box-shadow: inset 0px 0px 0px 2px #15ce2d;
}

#msg-salvando {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
  color:#fafafa;
  margin: 0px 10px 0px 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg-carregando-continua {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
  color:#fafafa;
  margin: 0px 10px 0px 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg-carregando {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color:#fafafa;
  margin: 5rem 10px 5rem 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PREVIEW RELATED */

#preview{
  background-color: #1a1c23;
}

#containerImage{
  background-color: #1a1c23;
}

#imagePreview{
  border: 1px solid #676c88;
  display: flex;
  justify-content: center;
}

/* FEEDBACK RELATED */

#feedback-area { 
  background-color: #1a1c23;
  border-top: 1px solid #676c88;
  border-left: 1px solid #676c88;
  font-family: 'Space Mono', monospace;
}

.feedback-title-area {
  display: flex;
  justify-content: space-between;
  color: #f0f0f0;
}

.feedback-feedback-area { 
  font-weight: 400;
  color: #f0f0f0;
  margin-top: 20px;
}

#feedbackTitle {
  font-family: 'Space Mono', monospace;
  color: #f0f0f0;
  font-weight: 700;
}

/* QUILL RELATED*/

/* Estilo básico do Quill */
#quillEnunciado {
  height: 150px; /* Ajuste a altura conforme necessário */
  width: 100%; /* Ajuste a largura conforme necessário */
  background-color: white;
  margin-bottom: 10px;
  color: black;
}

/* Estilo para os menus de cor */
#enunciado-toolbar span  {
  color: #0ea121; /* Cor do texto do menu */
}

#quillExercicio{
  color: black;
  height: 200px; /* Ajuste a altura conforme necessário */
  width: 100%; /* Ajuste a largura conforme necessário */
  background-color: #c1c4d0;
  margin-bottom: 10px;
}

#quillExercicio .ql-editor{
  border: 10px solid #828aa7;
  border-radius: 5px;
}


/* Remover margens adicionais do Quill para economizar espaço */
.ql-container {
  height: 50%;
}

.ql-toolbar {
  border: 1px solid #ccc; /* Ajusta a borda da barra de ferramentas */
  height: 50px; /* Ajusta a altura da barra de ferramentas */
  background-color: #313542;
}

.link{
  color: #0d6efd;
}

/* ToolTip*/

.tooltip-btn{
  border-radius: 50%; /* Faz o botão ficar totalmente arredondado */
  padding: 0;        /* Remove o padding padrão */
  width: 1.25em;      /* Ajusta a largura com base na altura da fonte */
  height: 1.25em;     /* Ajusta a altura com base na altura da fonte */
  font-size: 1em;    /* Garante que o tamanho do ícone seja proporcional ao texto */
  line-height: 1.5em;/* Centraliza o texto verticalmente */
  display: inline-flex; /* Centraliza o conteúdo do botão */
  justify-content: center;
  align-items: center;
  color: black; /* Cor de fundo do botão */
  background-color: #e9a931; /* Cor do texto do botão */
}

.tooltip-btn:hover{
  background-color: #339cd1; /* Cor de fundo do botão */
  color: black; /* Cor do texto do botão */
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box; /* para garantir que o padding não adicione largura extra */
}

/* TAGIFY Related*/
.tagify{
  border-color: rgb(53, 149, 246);
  border-radius: 5px;
  border-style: inset;
}

/* Define a altura mínima das tags e o tamanho da fonte para melhor visibilidade */
.tagify__input {
  min-height: 40px;  /* Aumenta a altura mínima */
  font-size: 16px;   /* Aumenta o tamanho da fonte */
  padding: 10px;     /* Adiciona espaçamento interno */
}

.tagify__tag__input {
  white-space: nowrap; /* Impede que o input quebre em várias linhas */
  width: auto; /* Permite que o input cresça conforme o texto */
}

/* Opcional: estilize as próprias tags */
.tagify__tag {
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  --tag-hover: var(--tag-bg);
}

/* SELECT Related*/
select {
  appearance: none; /* Remove o estilo padrão do navegador */
  width: 100%; /* Ocupa toda a largura disponível */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #f3f3f3; /* Cor de fundo */
  border: 2px solid #ccc; /* Borda */
  border-radius: 5px; /* Cantos arredondados */
  color: #333; /* Cor do texto */
  outline: none; /* Remove o outline ao focar */
  transition: border-color 0.3s ease; /* Transição suave na borda */
}

/* Ao focar no select */
select:focus {
  border-color: #339cd1; /* Cor da borda ao focar */
  background-color: #e9f7ff; /* Fundo mais claro ao focar */
}

/* Para o ícone da seta */
select::after {
  content: '▼'; /* Seta customizada */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Para remover a seta padrão do navegador no Chrome e Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para remover a seta padrão do navegador no Firefox */
select::-moz-focus-inner {
  border: 0;
}

#opcionais{
  margin: 10px
}


/* NAVBAR RELATED */
/*Só tá com esse nome pq uso bootstrap, mas nao quero a navbar dele*/
.python-parson-navbar {
  background-color: #282a36;
  border-bottom: 1px solid #676c88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0px 0px 0px 0px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 20px auto;
}

#logo p {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: 600;
  margin: 0px 0px 0px 2rem !important;
  color: #f0f0f0;
}

#logo p span:nth-child(1) {
  color: #339cd1;
}

#logo p span:nth-child(2) {
  color: #e9a931;
}

#menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 3rem;
}

.menu-link {
  color: #f1f1f1;
  transition: ease 0.2s;
}

.menu-link:hover {
  color: #a5b1e4;
}

.menu-link span {
  margin-right: 1rem;
}

.menu-icon {
  font-size: 2.3rem;
}

#vartests{
  color: #e9a931;
  margin: 5px;
  background-color: #c1c4d0;
  border: 10px solid #828aa7;
  border-radius: 5px;
}

/* POPUP */

.popup-wrapper {
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.popup {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: medium;
  width: 100%;
  max-width: 750px;
  border-radius: 15px;
  margin: 10% auto;
  padding: 35px 15px 15px 15px;
  background: #bc8fce;
  position: relative;
}

.popup-close {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color:#1b0722;
  background: #ff4242;
  transition: ease 0.2s;
}

.popup-close:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.added i {
  font-size: 2rem;
  position: relative;
  top: 0.7rem;
  float: left; 
  margin:12px 12px 20px 0;
}

.added h2 {
  font-weight: 600;
  color: #dfff0f;
}