<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar</title>
  
  <!-- Sidebar required style -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="./sideBar.css">
  <script src="/utils.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
  <!--
    To use these fonts in style:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
  -->
</head>
<body>
  <!-- sidebar.html -->
<div id="sidebar-wrapper">
  <div id="sidebar" class="w3-sidebar w3-bar-block w3-border-right">
      <button type="button" onclick="w3_close()" class="w3-bar-item w3-large">Fechar</button>
      <a id="parsons-problems-link" href="./parsonsProblemsPage.html" class="w3-bar-item w3-button">Exercícios</a>
      <a id="historico-link" href="./historicoPage.html" class="w3-bar-item w3-button">Histórico</a>
      <a id="sobre-link" href="./sobrePage.html" class="w3-bar-item w3-button">Sobre</a>

      <a id="criar-link" href="/createPuzzlesPage.html" class="w3-bar-item w3-button">Criar</a>
      <a id="filtros-link" href="/filtragem.html" class="w3-bar-item w3-button">Filtros</a>

      <a id="logout-link" href="#" class="w3-bar-item w3-button">Log out</a>
  </div>
</div>
<div id="menu">
  <a class="menu-link" href="#" onclick="w3_open()">
      <span>Menu</span>
      <i class="menu-icon fa-solid fa-bars fa-2xl"></i>
  </a>
</div>

</body>
</html>